body {
  margin: 0;
  padding: 0;
  background: #F1FAEE;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.map {
  width:65%;
}
.world_title h1{
  font-family: 'Unica one', cursive;
  font-size:50px;
  color:#1D3557;
}

path{
  cursor:pointer;
  fill:#1D3557;
  transition:.6s fill;
}

path:hover {
  fill:#A8DADC;
}
