*{
  margin:0;
  padding:0;
}

body, html {
  height: 100%
}

.bgimg {
  background-image: url('../world/images/landing_bg.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: Black;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
}


.middle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: space-between;
}

img{
  width:350px;
  height:175px;
}
hr {

  margin: auto;
  width: 40%;
}
h2{
  font-family: "Alegreya Sans", "sans-serif";
  font-size: 20px;
}
.button {
  margin:50px;
  font-family: "Alegreya Sans", "sans-serif";
  font-size: 18px;
  text-decoration: none;
  background-color: #fff;
  color: black;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.button:hover {
  background: #CDC3C1;
  color: black;
}
